.idea
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
report.html
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?

.testmondata

/frontend
/docker_secrets/*.txt
sql_app.db
.env
.test.env
image_uploads/*.jpg
image_uploads/*.jpeg
image_uploads/*.png
admin_access_tokens.txt
user_access_tokens.txt
app.log
app-tests.log
allure-results