fastapi
uvicorn[standard]
python-multipart
email-validator
typing-extensions
aiostream
aiofiles
requests
passlib[bcrypt]
SQLAlchemy==1.4.40
SQLAlchemy-Utils
mysqlclient
redis
pymongo
Pillow
alembic
python-dotenv
coloredlogs
pymongo-inmemory
pytest
pytest-asyncio
pytest-timeout
httpx
httpx-ws # use until httpx provides async websocket functionality. feature in active development https://github.com/encode/httpx/issues/304
asgi_lifespan
pytest-xdist
pytest-watch
pytest-html
pytest-testmon
allure-pytest
coverage
mimesis
pre-commit
sec