fastapi
uvicorn
python-multipart
email-validator
typing-extensions
aiofiles
requests
passlib[bcrypt]
SQLAlchemy==1.4.40
SQLAlchemy-Utils
mysqlclient
aioredis
pymongo
alembic
python-dotenv
coloredlogs
pytest
pytest-asyncio
pytest-watch
pytest-html
pytest-testmon
allure-pytest
coverage
mimesis
pre-commit
sec