fastapi
uvicorn
python-multipart
email-validator
typing-extensions
aiofiles
requests
SQLAlchemy
SQLAlchemy-Utils
mysqlclient
passlib[bcrypt]
python-dotenv
coloredlogs
pytest
pytest-watch
pytest-html
pytest-testmon
allure-pytest
coverage
faker
mimesis
pre-commit
sec