fastapi
aiostream
aiofiles
requests
python-dotenv
coloredlogs
pytest
pytest-asyncio
pytest-timeout
pytest-playwright
httpx
httpx-ws # use until httpx provides async websocket functionality. feature in active development https://github.com/encode/httpx/issues/304
asgi_lifespan
pytest-xdist
pytest-watch
pytest-html
pytest-testmon
allure-pytest
coverage
mimesis
pre-commit
sec